@import "tailwindcss";

@theme {
  --color-primary: #ff3352;
  --color-secondary: #1a1a1a;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
